In [1]:
#general use imports
%pylab inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [2]:
#load pluto zoned zip csv to dataframe
pz = pd.read_csv('pluto_zoned.csv')

/Users/mariumsultan/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pz.year.unique()

array([2011, 2013, 2012, 2015, 2014, 2017, 2016])

In [4]:
#check shape of the dataframe
pz.shape

(5960749, 18)

In [5]:
pzzip = pz.ZipCode.unique()
pzzip.shape

(415,)

In [6]:
pz.dtypes

Unnamed: 0                   int64
Unnamed: 0.1                 int64
Borough                     object
CD                         float64
CT2010                     float64
ZipCode                     object
ZoneDist1                   object
BldgClass                   object
LandUse                     object
AssessTot                  float64
year                         int64
Commercial_Zone              int64
Manufacturing_Zone           int64
Residential_Zone             int64
Hotel_Building               int64
School_Building              int64
Library_Building             int64
ShoppingCenter_Building      int64
dtype: object

In [7]:
pz['ZipCode'] = pd.to_numeric(pz['ZipCode'], errors='coerce')

In [8]:
pz.head()

,Unnamed: 0,Unnamed: 0.1,Borough,CD,CT2010,ZipCode,ZoneDist1,BldgClass,LandUse,AssessTot,year,Commercial_Zone,Manufacturing_Zone,Residential_Zone,Hotel_Building,School_Building,Library_Building,ShoppingCenter_Building
0,0,1,BK,302.0,21.0,11201.0,M3-1,G6,10,1070550.0,2011,0,1,0,0,0,0,0
1,1,2,BK,302.0,21.0,11201.0,M1-4/R8A,E9,06,5228550.0,2011,0,1,0,0,0,0,0
2,2,7,BK,302.0,21.0,11201.0,M3-1,T2,07,1800.0,2011,0,1,0,0,0,0,0
3,3,9,BK,302.0,21.0,11201.0,M3-1,T2,07,11700.0,2011,0,1,0,0,0,0,0
4,4,11,BK,302.0,21.0,11201.0,M3-1,V1,11,91800.0,2011,0,1,0,0,0,0,0

In [9]:
pz = pz.dropna(axis = 0)

In [10]:
pz[['ZipCode']] = pz[['ZipCode']].astype(int)

In [11]:
#changing makeup of variables to string
pz[['ZipCode']] = pz[['ZipCode']].astype(str) 
#changing to string to join
pz[['year']] = pz[['year']].astype(str)

In [12]:
#get a sense of the data
#pz.head()

In [13]:
#seperating zip code and year
pz['ZIP_YEAR'] = pz[['ZipCode', 'year']].apply(lambda x: '_'.join(x), axis=1)

In [14]:
#change zip code back to numbers from string 
pz[['ZipCode']] = pz[['ZipCode']].astype(int)

pz[['year']] = pz[['year']].astype(int)

In [15]:
#save to csv
pz.to_csv('pz_zip.csv')

In [16]:
#can start from here, after imports

In [17]:
#upload new csv file 
pz = pd.read_csv('pz_zip.csv')

/Users/mariumsultan/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
#check column attributes of data
pz.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'Unnamed: 0.1', u'Borough', u'CD',
       u'CT2010', u'ZipCode', u'ZoneDist1', u'BldgClass', u'LandUse',
       u'AssessTot', u'year', u'Commercial_Zone', u'Manufacturing_Zone',
       u'Residential_Zone', u'Hotel_Building', u'School_Building',
       u'Library_Building', u'ShoppingCenter_Building', u'ZIP_YEAR'],
      dtype='object')

In [19]:
#counting Hotels per zip per year

In [20]:
pz.Hotel_Building.value_counts()

0    5936953
1       6075
Name: Hotel_Building, dtype: int64

In [21]:
only_h = pz[['ZIP_YEAR', 'Hotel_Building']]

In [22]:
only_h.head()

     ZIP_YEAR  Hotel_Building
0  11201_2011               0
1  11201_2011               0
2  11201_2011               0
3  11201_2011               0
4  11201_2011               0

In [23]:
only_h = only_h.groupby('ZIP_YEAR').Hotel_Building.count().reset_index()

In [24]:
only_h.head()

     ZIP_YEAR  Hotel_Building
0  10001_2011            1065
1  10001_2012            1053
2  10001_2013            1023
3  10001_2014            1006
4  10001_2015             993

In [25]:
only_h = only_h.rename(columns={'Hotel_Building': 'hotel_count'})

In [26]:
#get a sense of hotels in each zip code
only_h.head()

     ZIP_YEAR  hotel_count
0  10001_2011         1065
1  10001_2012         1053
2  10001_2013         1023
3  10001_2014         1006
4  10001_2015          993

In [27]:
#max number of hotels in a zipcode
only_h.hotel_count.max()

20589

In [28]:
#median number hotels in a zipcode
only_h.hotel_count.median()

3350.5

In [29]:
#creating variable for average hotel 
mean_hotel = only_h.hotel_count.mean()

In [30]:
mean_hotel

4344.318713450292

In [31]:
def hub_checker(t):
    if t > mean_hotel:
        return 1
    else:
        return 0

In [32]:
#create hotel hub variable 
only_h['Hotel_Hub'] = only_h['hotel_count'].apply(lambda x: hub_checker(x))

In [33]:
#look up at makeup of data
only_h.head()

     ZIP_YEAR  hotel_count  Hotel_Hub
0  10001_2011         1065          0
1  10001_2012         1053          0
2  10001_2013         1023          0
3  10001_2014         1006          0
4  10001_2015          993          0

In [34]:
pz.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,Borough,CD,CT2010,ZipCode,ZoneDist1,BldgClass,LandUse,AssessTot,year,Commercial_Zone,Manufacturing_Zone,Residential_Zone,Hotel_Building,School_Building,Library_Building,ShoppingCenter_Building,ZIP_YEAR
0,0,1,1,BK,302.0,21.0,11201,M3-1,G6,10,1070550.0,2011,0,1,0,0,0,0,0,11201_2011
1,1,2,2,BK,302.0,21.0,11201,M1-4/R8A,E9,06,5228550.0,2011,0,1,0,0,0,0,0,11201_2011
2,2,7,7,BK,302.0,21.0,11201,M3-1,T2,07,1800.0,2011,0,1,0,0,0,0,0,11201_2011
3,3,9,9,BK,302.0,21.0,11201,M3-1,T2,07,11700.0,2011,0,1,0,0,0,0,0,11201_2011
4,4,11,11,BK,302.0,21.0,11201,M3-1,V1,11,91800.0,2011,0,1,0,0,0,0,0,11201_2011

In [35]:
#save new dataframe for shopping center and residential, commercial and manufacturing zones
only_s = pz[['ShoppingCenter_Building', 'ZIP_YEAR']]
only_c = pz[['Commercial_Zone', 'ZIP_YEAR']]
only_r = pz[['Residential_Zone', 'ZIP_YEAR']]
only_m = pz[['Manufacturing_Zone', 'ZIP_YEAR']]

In [36]:
only_s.groupby('ZIP_YEAR').ShoppingCenter_Building.count().reset_index()
only_s = only_s.rename(columns={'ShoppingCenter_Building': 'shopping_count'})
#only_s['shopping_count'] = only_s.ShoppingCenter_Building.value_counts()

only_r.groupby('ZIP_YEAR').Residential_Zone.count().reset_index()
only_r = only_r.rename(columns={'Residential_Zone': 'residential_zone_count'})
#only_r['residential_zone_count'] = only_r.Residential_Zone.value_counts()

only_m.groupby('ZIP_YEAR').Manufacturing_Zone.count().reset_index()
only_m = only_m.rename(columns={'Manufacturing_Zone': 'manufacturing_zone_count'})

#only_m['manufacturing_zone_count'] = only_m.Manufacturing_Zone.value_counts()

only_c.groupby('ZIP_YEAR').Commercial_Zone.count().reset_index()
only_c = only_c.rename(columns={'Commercial_Zone': 'commercial_zone_count'})

#only_c['commercial_zone_count'] = only_c.Commercial_Zone.value_counts()

In [37]:
only_r.head()

   residential_zone_count    ZIP_YEAR
0                       0  11201_2011
1                       0  11201_2011
2                       0  11201_2011
3                       0  11201_2011
4                       0  11201_2011

In [38]:
#means 
mean_shopping = only_s['shopping_count'].mean()
mean_residential_zone = only_r['residential_zone_count'].mean()
mean_manufacturing_zone = only_m['manufacturing_zone_count'].mean()
mean_commercial_zone = only_c['commercial_zone_count'].mean()

In [39]:
def hub_checker(t):
    if t > i:
        return 1
    else:
        return 0

In [40]:
i = mean_shopping
only_s['Shopping_Hub'] = only_s['shopping_count'].apply(lambda x: hub_checker(x))

In [41]:
i = mean_residential_zone
only_r['Residential_Hub'] = only_r['residential_zone_count'].apply(lambda x: hub_checker(x))

In [42]:
i = mean_manufacturing_zone
only_m['Manufacturing_Hub'] = only_m['manufacturing_zone_count'].apply(lambda x: hub_checker(x))

In [43]:
i = mean_commercial_zone
only_c['Commercial_Hub'] = only_c['commercial_zone_count'].apply(lambda x: hub_checker(x))

In [44]:
#merge all
pz = pz.merge(only_h, how='left', on='ZIP_YEAR')

In [ ]:
#get an idea of data makeup
pz.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,Borough,CD,CT2010,ZipCode,ZoneDist1,BldgClass,LandUse,...,Commercial_Zone,Manufacturing_Zone,Residential_Zone,Hotel_Building,School_Building,Library_Building,ShoppingCenter_Building,ZIP_YEAR,hotel_count,Hotel_Hub
0,0,1,1,BK,302.0,21.0,11201,M3-1,G6,10,...,0,1,0,0,0,0,0,11201_2011,3362,0
1,1,2,2,BK,302.0,21.0,11201,M1-4/R8A,E9,06,...,0,1,0,0,0,0,0,11201_2011,3362,0
2,2,7,7,BK,302.0,21.0,11201,M3-1,T2,07,...,0,1,0,0,0,0,0,11201_2011,3362,0
3,3,9,9,BK,302.0,21.0,11201,M3-1,T2,07,...,0,1,0,0,0,0,0,11201_2011,3362,0
4,4,11,11,BK,302.0,21.0,11201,M3-1,V1,11,...,0,1,0,0,0,0,0,11201_2011,3362,0

In [ ]:
pz = pz.merge(only_s, on='ZIP_YEAR', how='left')

In [ ]:
pz = pz.merge(only_m, on='ZIP_YEAR', how='left')

In [ ]:
pz = pz.merge(only_c, on='ZIP_YEAR', how='left')

In [ ]:
pz = pz.merge(only_r, on='ZIP_YEAR', how='left')

In [ ]:
#get an idea of data makeup
pz.head()

In [ ]:
pzzip = pz.ZipCode.unique()
pzzip.shape

In [ ]:
#identify the useless columns that need to be deleted
useless_columns2 = ['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1']

In [ ]:
#drop useless columns 
pz = pz.drop(columns = useless_columns2)

In [ ]:
#get an idea of the data
pz.head()

In [ ]:
#pz.to_csv('Project Data/hubed_zip.csv')

In [ ]:
#get an idea of semi-useless columns to our data analysis
semi_useless_columns =  ['School_Building', 'Library_Building', 'CT2010', 'CD']

In [ ]:
#drop other useless columns
pz = pz.drop(columns = semi_useless_columns)

In [ ]:
pzzip = pz.ZipCode.unique()

In [ ]:
pzzip.shape

In [ ]:
#save to new csv
pz.to_csv('hubed_cleaner_zip.csv')